html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: black;
}

#countdown {
  color:white;
  text-align:center;
  z-index:1000;
  position:relative;
}

#countdown h1, #countdown h2 {
  text-shadow: 1px 1px 2px black;
}

#countdown h1 {
  font-size: 120px;
  font-family: 'Roboto Mono', monospace;
  /* font-weight: 100; */
}

#countdown h2 {
  font-size: 40px;
  font-family: 'Martel Sans', sans-serif;
}

h1#noiseNumber {
  position: absolute;
  left : 30px;
  bottom: 30px;
  color: black;
  z-index: 500;
  font-family: sans-serif;
  font-weight: bold;
}

svg {
  position:absolute;
  bottom: 0;
  left:0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

circle {
  z-index:100;
}

div#noiseCircle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-top-right-radius: 200px;
  background-color: black;
}
